.menu {
    list-style: none;
    padding: 0;
    padding-bottom: 2%;
    margin-bottom: 0px;
}

.menu.lower{
    margin-top: 21%;
}

.menu li{
    display: inline-block;    
    margin: 0 20px;
}

.menu li a{    
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.lower li a{    
    color: white;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}


.menu li a:hover{    
    /*color: #aaa;*/
    opacity: 0.5;
    /*text-decoration: underline;*/
}

.menu.links li span.facebook{        
    background: url('../Images/Icons/social-media-line-icons_edited.png') no-repeat -160px -14px;
	width: 38px;
	height: 38px;
}

.menu.links li span.instagram{    
    background: url('../Images/Icons/social-media-line-icons_edited.png') no-repeat -115px -212px;
	width: 38px;
	height: 38px;
}

.menu.links li span.facebook:hover{        
    background: url('../Images/Icons/social-media-line-icons_edited.png') no-repeat -260px -22px;
	width: 38px;
	height: 38px;
}

.menu.links li span.instagram:hover{    
    background: url('../Images/Icons/social-media-line-icons_edited.png') no-repeat -260px -174px;
	width: 38px;
	height: 38px;
}

.menu.links li span{
    display: block;
    height: 42px;
    width: 42px;
    background-size: 100%;
    text-indent: -23em;
    overflow: hidden;
    cursor: pointer;
    opacity: .75;
    overflow: hidden;
}

ul.menu.lowerer.links {
    margin-top: 2%;
}

ul.menu.lowerer.links li {
    margin: 0 10px;
}

ul.menu.lowerer.links li.facebook {
    margin: 0 10px 0 7px;
}

.button_contact a {
    font-size: 16px !important;
}